h1, h1#page-title  {
  font-size: 15px;
  font-weight: bold;
}

#page {
  padding: 10px 15px 0px 15px;
}

#main {
  margin: 0px;
}

.form-item {
  margin: 0px;
}

label {
  padding: 10px 0px 5px 0px;
}

.description {
  padding-top: 5px;
}

#mg-picker-cancel {
  padding-left: 5px;
}

#gallery-images {
  padding: 10px 0px;
  height: 370px;
  width: 600px;
  overflow-y: scroll;
}

#edit-gallery-nid {
  padding: 2px;
}

.mg-picker-file-item img {
  padding: 5px
}

.mg-picker-file-item.selected img {
  background-color: yellow;
}

input.form-submit, a.button {
  background: none repeat scroll 0 0 transparent;
  color: black;
  cursor: pointer;
  font-size: 15px;
  margin: 5px 0;
  padding: 2px 5px;
}